@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>*@
@*<script src="https://rawgit.com/kamens/jQuery-menu-aim/master/jquery.menu-aim.js"></script>*@


<link rel="stylesheet" href="/assets/lib/semantic.min.css">
<link rel="stylesheet" href="/assets/app/app.css">
<script src="/assets/lib/jquery.min.js"></script>
<script src="/assets/lib/semantic.min.js"></script>
<script src="/assets/lib/jquery.menu-aim.js"></script>